<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{employee.name}}</li>
                  <li class="list-group-item">{{employee.department}}</li>
                  <li class="list-group-item">{{employee.salary}}</li>
                  <li class="list-group-item">{{employee.address}}</li>
                  <li class="list-group-item">{{employee.phone}}</li>
                  <li class="list-group-item">{{employee.email}}</li>
                           
                </ul>
                <div class="card-footer">
                    <a href="" class="btn btn-outline-primary btn-sm" routerLink="">GO BACK</a>   
                </div>
              </div>
              
        </div>
        <div class="col-4"></div>
    </div>
</div>